.header__lang-link {
  max-width: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
}

  .header__lang-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .header__lang-link {
  max-width: 22px;
  font-size: 18px;
  line-height: 1.33;
  }
}

/*Можно сделать их Кнопками - но в макете нет информации о состоянии вкл./выкл. И как я понял это через JS делают. Это еще не проходили ).