.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
  margin: 0 auto;
  max-width: 272px;
  font-size: 14px;
  line-height: 1.14;
  }
}