.table__item {
  max-width: 284px;
  height: 213px;
}

@media screen and (max-width: 1260px) {
  .table__item {
  max-width: 300px;
  height: 225px;
  }
}

@media screen and (max-width: 1020px) {
  .table__item {
  max-width: 352px;
  height: 264px;
  }
}

@media screen and (max-width: 767px) {
  .table__item {
  max-width: 288px;
  height: 216px;
  }
}
