.place__paragraph {
  margin: 0 0 24px 0;
  max-width: 484px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #FFFFFF;
}
.place__paragraph:nth-of-type(2n) {
  margin: 0;
}

@media screen and (max-width: 1260px) {
  .place__paragraph {
  max-width: 456px;
  }
}
@media screen and (max-width: 1020px) {
  .place__paragraph {
  max-width: 352px;
  font-size: 16px;
  line-height: 1.62;
  }
}
@media screen and (max-width: 767px) {
  .place__paragraph {
  margin: 24px auto 0 auto;
  max-width: 288px;
  }
  .place__paragraph:nth-of-type(2n) {
  margin: 24px auto 0 auto;
  }
}