.place__site-block {
  max-width: 456px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .place__site-block {
  display: none;
  }
}