.cover {
  width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .cover {
  width: 1024px;
  min-height: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
  width: 768px;
  min-height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .cover {
  width: 320px;
  min-height: 200px;
  }
}