.footer {
  max-width: 1280px;
  margin: 0 auto;
  background: #2A2C2F;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 767px) {
  .footer {
  max-width: 288px;
  min-height: 310px;
  padding: 64px 0 24px 0;
  }
}
@media screen and (max-width: 1020px) {
  .footer {
    padding: 88px 0 24px 0;
  }
}
